@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h2>Stylist Details</h2>
</div>
<div class="container">
  <h3>Stylist: @Html.DisplayFor(model => model.Name)</h3>
  <h4>Date Hired: @Html.DisplayFor(model => model.DateHired)</h4>
  @{int count = 0;}
  <table id="sTable" class="table table-responsive-md table-hover">
      <thead>
        <tr>
          <th>Client</th>
          <th>Pronouns</th>
        </tr>
      </thead>
  @foreach (var client in @ViewBag.stylistClients)
  {
    @if (client.StylistId == Model.StylistId)
    {
    <tr>
      <td>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</td>
      <td>@client.Pronoun</td>
    </tr>
    count++;
    }
  }
  </table>
  @if (count == 0)
    {
      <p>This stylist has no clients.</p>    
    }
  <div class="buttonCenter">
    @Html.ActionLink("Add Client", "Create", "Clients", null, new { @class="htmlButton" })
    <br>
    <br>
    @Html.ActionLink("To Stylists", "Index", "Stylists",null, new { @class="htmlButton" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.StylistId }, new { @class="htmlButton"})
    @Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId }, new { @class="htmlButton"})
  </div>
  
</div> 