@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h2>Stylist Details</h2>
</div>
<div class="container">
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  <h4>@Html.DisplayNameFor(model => model.DateHired): @Html.DisplayFor(model => model.DateHired)</h4>
  @{int count = 0;}
  @foreach (var client in @ViewBag.stylistClients)
  {
    @if (client.StylistId == Model.StylistId)
    {
    <p>@client.Name</p>
    count++;
    }
  }
  @if (count == 0)
  {
    <p>This stylist has no clients.</p>    
  }
  <p>@Html.ActionLink("Add More Clients", "Create", "Clients")</p>
  <br>
  <p>@Html.ActionLink("Back to Stylists", "Index")</p>
  <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
  
</div> 